{
  "openapi": "3.0.0",
  "info": {
    "title": "תיקון לדוקומנטציה",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://sandbox.meshulam.co.il"
    }
  ],
  "paths": {
    "/api/light/server/1.0/createPaymentProcess": {
      "post": {
        "tags": [
          "default"
        ],
        "summary": "Regular Payment",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "pageCode": {
                    "type": "string",
                    "description": "Unique identifier refers to payment mathod",
                    "example": "0b7a16e03b25"
                  },
                  "userId": {
                    "type": "string",
                    "description": "Unique identifier refers to every business that is connected and uses Grow payments solutions.",
                    "example": "4ec1d595ae764243"
                  },
                  "apiKey": {
                    "type": "string",
                    "description": "Required only for companies that are working with multiple businesses. company's code",
                    "example": "57ce86548429"
                  },
                  "chargeType": {
                    "type": "integer",
                    "description": "1 - Regular Charge\n2 - Suspended Charge\n3 - Create Token",
                    "example": "1"
                  },
                  "sum": {
                    "type": "integer",
                    "description": "Total amount for payment Example: 10.99.",
                    "example": "2"
                  },
                  "successUrl": {
                    "type": "string",
                    "description": "An after payment \"Thank you\" URL. make sure to use HTTPS and not HTTP. Must use an external URL and not localhost. Example: https://mysite.co.il?success=true",
                    "example": "https://mysite.co.il/thank.html?test=1"
                  },
                  "cancelUrl": {
                    "type": "string",
                    "description": "The page users will be redirected to if a payment is cancelled.",
                    "example": "https://mysite.co.il"
                  },
                  "paymentNum": {
                    "type": "integer",
                    "description": "Determine payments number. 1-12",
                    "example": "10"
                  },
                  "maxPaymentNum": {
                    "type": "integer",
                    "description": "Restricting the number of payments. the customer can choose between 1- the value that you choose in this parameter.",
                    "example": "12"
                  },
                  "description": {
                    "type": "string",
                    "description": "Description of the product to be charged (will appear in the details of the transaction as well) Example: Payment for a monthly subscription.",
                    "example": "Course"
                  },
                  "pageField[invoiceName]": {
                    "type": "string",
                    "description": "the name for the invoice",
                    "example": "Jon Jon"
                  },
                  "pageField[fullName]": {
                    "type": "string",
                    "description": "Full name must consist of at least two names.",
                    "example": "John Smith"
                  },
                  "pageField[phone]": {
                    "type": "integer",
                    "description": "A valid israeli mobile phone numebr Example: 0500000000 ",
                    "example": "0509721696"
                  },
                  "pageField[email]": {
                    "type": "string",
                    "description": "A valid email address",
                    "example": "test@gmail.com"
                  },
                  "cField1": {
                    "type": "string",
                    "description": "Custom field, you may add up to 9 fields.",
                    "example": "my_key123"
                  },
                  "cField2": {
                    "type": "string",
                    "description": "Custom field, you may add up to 9 fields.",
                    "example": "next456"
                  },
                  "saveCardToken": {
                    "type": "integer",
                    "description": "if set to 1: the token of client credit card will be sent after payment for running future tokenization payments . \nif you set 0 the token of client credit card wil not be saved .",
                    "example": "1"
                  },
                  "productData[0][catalog_number]": {
                    "type": "integer",
                    "description": "catalog number for an item in the Invoice ",
                    "example": "8787989"
                  },
                  "productData[0][quantity]": {
                    "type": "integer",
                    "description": "quantity for an item in the Invoice ",
                    "example": "2"
                  },
                  "productData[0][price]": {
                    "type": "integer",
                    "description": "price for an item in the Invoice ",
                    "example": "1"
                  },
                  "productData[0][item_description]": {
                    "type": "string",
                    "description": "item description for an item in the Invoice ",
                    "example": "first item description"
                  },
                  "companyCommission": {
                    "type": "number",
                    "description": "Float A different commission than the regular commission Meshulam has. Example: 2.5.",
                    "example": "2.5"
                  },
                  "notifyUrl": {
                    "type": "string",
                    "example": "Url for server to sever request"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    }
  }
}